<section class="single-testimonial-section">
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="single-testimonial-row">
            <div class="avatar-col" style="background-image: url('{{ testimonial_data.user_avatar.src }}');">
                <img src="{{ testimonial_data.user_avatar.src }}" alt="{{ testimonial_data.user_avatar.alt }}" />
            </div>
            <div class="content-col">
                <div class="inner">
                    <div class="content">
                        {{ testimonial_data.content }}
                    </div>
                    <div class="mobile-avatar-col">
                        <img
                            class="lazyload"
                            data-src="{{ testimonial_data.user_avatar.src|resizeDynamic(140, 140) }}"
                            data-srcset="{{ testimonial_data.user_avatar.src|resizeDynamic(140, 140) }} 1x, {{ testimonial_data.user_avatar.src|resizeDynamic(280, 280) }} 2x"
                            alt="{{ testimonial_data.user_avatar.alt|e }}"
                        />
                    </div>
                    <div class="info">
                        <h3>{{ testimonial_data.title }}</h3>
                        <p>{{ testimonial_data.role }}</p>
                    </div>
                    <div class="company">
                        <img
                            class="lazyload"
                            data-src="{{ testimonial_data.company_logo.src|resizeDynamic(testimonial_data.company_logo.width / 2) }}"
                            data-srcset="{{ testimonial_data.company_logo.src|resizeDynamic(testimonial_data.company_logo.width / 2) }} 1x, {{ testimonial_data.company_logo.src|resizeDynamic(testimonial_data.company_logo.width) }} 2x"
                            alt="{{ testimonial_data.company_logo.alt|e }}"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testimonial-link">
            <a class="global-link" href="{{ link_url }}">{{ link_title }}</a>
        </div>
    </div>
</section>