<section class="block-text-image-text-section {% if is_gray_background %} gray {% endif %}">
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="block-text-image-text-row">
            <div class="left-col">
                <div class="left-col-inner">
                    {{ left_content|e('wp_kses_post') }}
                </div>
            </div>
            <div class="image-col">
                {% if retina_image %}
                    <img
                        class="lazyload"
                        src="{{ placeholderImage(image.width, image.height) }}"
                        data-src="{{ image.src|resizeDynamic(image.width) }}"
                        data-srcset="{{ image.src|resizeDynamic(image.width) }} 1x, {{ retina_image.src|resizeDynamic(retina_image.width) }} 2x"
                        data-sizes="auto"
                        alt="{{ image.alt|e }}"
                    >
                {% else %}
                    <img
                        class="lazyload"
                        src="{{ placeholderImage(image.width, image.height) }}"
                        data-src="{{ image.src|resizeDynamic(image.width) }}"
                        alt="{{ image.alt|e }}"
                    >
                {% endif %}
            </div>
            <div class="right-col">
                {{ right_content|e('wp_kses_post') }}
            </div>
        </div>
        <div class="block-link">
            <a class="global-link" href="{{ link_url }}">{{ link_title }}</a>
        </div>
    </div>
</section>