<section class="blog-search-section">
    <div class="container">
        <div class="blog-search-form mobile-show">
            <form method="GET" action="{{ site.url }}">
                <input type="text" name="s" placeholder="Search blog">
                <input type="submit" value="" >
            </form>
        </div>
        <h1>{{ title }}</h1>
        <div class="blog-search-cat-list">
            {% if buttons is not empty %}
                <ul>
                    {% for button in buttons %}
                        <li><a href="{{ button.link_url }}">{{ button.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="blog-search-row">
            {% if blogs %}
                <div class="blog-search-left">
                    <div class="blog-search-item displayed-post" data-post-id="{{ blogs[0].id }}">
                        <a href="{{ blogs[0].link }}">
                            <div class="blog-search-item-inner">
                                <div class="blog-image" style="background-image: url('{{ blogs[0].thumbnail.src|resizeDynamic(700, 300) }}');"></div>
                                <div class="blog-info">
                                    <div class="blog-category {{ blogs[0].category.slug }}">{{ blogs[0].category }}</div>
                                    <h3>{{ blogs[0].post_title }}</h3>
                                    {% if is_mobile %}
                                        <p>{{ blogs[0].post_excerpt|slice(0, 85) }}...</p>
                                    {% else %}
                                        <p>{{ blogs[0].post_excerpt|slice(0, 210) }}...</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="blog-search-right">
                    <div class="blog-search-form mobile-hide">
                        <form method="GET" class="site-blog-search-form" action="{{ site.url }}">
                            <input type="text" name="s" placeholder="Search blog">
                            <input type="submit" value="" >
                        </form>
                    </div>
                    {% for i in 1..3 %}
                        {% if blogs[i] %}
                            <div class="blog-search-item displayed-post" data-post-id="{{ blogs[i].id }}">
                                <a href="{{ blogs[i].link }}">
                                    <div class="blog-search-item-inner">
                                        <div class="blog-image" style="background-image: url('{{ blogs[i].thumbnail.src|resizeDynamic(100, 150) }}');"></div>
                                        <div class="blog-info">
                                            <div class="blog-category {{ blogs[i].category.slug }}">{{ blogs[i].category }}</div>
                                            <h3>{{ blogs[i].post_title }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                No Blogs have been found.
            {% endif %}
        </div>
    </div>
</section>